<div class="container-fluid">
  <div class="row mt-sm-2">

    <div class="col-sm-12">


      <p-table [columns]="colunas" [value]="alertas" [paginator]="true" [rows]="5" [responsive]="true" [resizableColumns]="true">
        <!-- <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="col.width">
          </colgroup>
        </ng-template> -->
        <ng-template pTemplate="caption">
          Lista de alertas
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr class="text-center">
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" class="ui-resizable-column">
              <span class="ui-column-title">{{col.header}}</span>
              {{ rowData[col.field] }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr class="text-center">
            <td [attr.colspan]="columns.length">
              Nenhum registro encontrado!
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div><!-- ./col-sm-12 -->

  </div>
  
</div>
