/* You can add global styles to this file, and also import other style files */
/* **** COLORS **** */
.font-color-secundary {
    color: #2a2f33;
}

/* **** SIZES **** */
.font-size-18 {
    font-size: 18px;
}

/* **** COMPONENTS **** */
/* Backgrounds */
.navbar-background {
    background: #569bd0;
}

.no-background {
    background: transparent !important;
    border: 0px !important;
}